#details {
  background: #f3f3f3;
}

#details .con {
  margin-top: 1.232877rem;
}

#details .con .buy {
  background: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#details .con .buy .buy_box {
  text-align: center;
  height: 38px;
  width: 158px;
  font-size: 16px;
  line-height: 40px;
  color: #EE5048;
  border: 1px solid #EE5048;
  border-radius: .26667rem;
  font-weight: 400;
}

#details .con .buy .read {
  background: #EE5048;
  color: #fff;
}

#details .con .shang {
  position: relative;
  padding: .48rem 0;
  background-color: #fff;
  font-size: .4rem;
  border-bottom: 1px solid #e5e5df;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 58px;
  color: #333;
  box-sizing: border-box;
}

#details .con .shang .shang_icon {
  width: 158px;
  text-align: center;
  color: #333;
  font-size: 15px;
}

#details .con .shang .shang_icon span {
  margin-right: .136986rem;
}

#details .con .text {
  background-color: #fff;
  padding: .4rem .48rem 0;
  position: relative;
}

#details .con .text .textcon {
  height: 132px;
  overflow: hidden;
  color: #666;
  font-size: 14px;
}

#details .con .mulu {
  position: relative;
  padding: .32rem .48rem 0;
  background-color: #fff;
  color: #333;
}

#details .con .mulu .mulucon {
  border-top: 1px solid #e5e5df;
  height: 1.33333rem;
  position: relative;
  font-size: .34667rem;
  display: flex;
  justify-content: space-around;
}

#details .con .mulu .mulucon span {
  color: #999;
  line-height: 1.33333rem;
}

#details .con .mulu .mulucon .first {
  color: #333;
}

#details .con .mulu .mulucon .con_text {
  color: #999;
}

#details .con .mulu .mulucon .lue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 4.465753rem;
}

#details .con .listone {
  background: #fff;
  margin-top: .26667rem;
  margin-bottom: 0;
}

#details .con .listone .one_title {
  position: relative;
  height: 1.14667rem;
  font-size: .4rem;
  line-height: .45333rem;
  color: #333;
  padding: .32rem .4rem;
  display: flex;
  align-items: center;
}

#details .con .listone .one_title .ii {
  display: inline-block;
  width: .08rem;
  height: .37333rem;
  background-color: #ee5048 !important;
  margin-right: .26667rem;
  vertical-align: -.02667rem;
  border-radius: .26667rem;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  font-style: italic;
}

#details .con .listone .one_bottom {
  padding: 0 .48rem .4rem;
}

#details .con .listone .one_bottom ul {
  margin-bottom: 0;
  overflow: hidden;
  line-height: .64rem;
  display: flex;
  justify-content: space-around;
}

#details .con .listone .one_bottom ul li {
  position: relative;
  width: 25%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#details .con .listone .one_bottom ul li .one_img {
  width: 100%;
  height: 3.57333rem;
}

#details .con .listone .one_bottom ul li .one_img img {
  height: 100%;
  width: 100%;
}

#details .con .listone .one_bottom ul li .one_text {
  color: #333;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 2.410959rem;
}

#details .con .listone .one_bottom ul li:nth-child(-n+2) {
  margin-right: 8%;
}

#details .con .ping {
  background: #fff;
  margin-top: .26667rem;
  margin-bottom: .26667rem;
}

#details .con .ping .ping_title {
  position: relative;
  height: 1.14667rem;
  font-size: .4rem;
  line-height: .45333rem;
  color: #333;
  padding: .32rem .4rem;
  display: flex;
  align-items: center;
}

#details .con .ping .ping_title .ii {
  display: inline-block;
  width: .08rem;
  height: .37333rem;
  background-color: #ee5048 !important;
  margin-right: .26667rem;
  vertical-align: -.02667rem;
  border-radius: .26667rem;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  font-style: italic;
}

#details .con .ping .ping_title .xie {
  position: absolute;
  right: .273973rem;
  font-size: 13px;
}

#details .con .ping .ping_title .xie span {
  color: #c99b61;
}

#details .con .ping .ping_text ul li {
  position: relative;
  display: block;
  overflow: hidden;
  padding: .4rem 0;
  margin: 0 .48rem;
  border-top: 1px solid #edede9;
}

#details .con .ping .ping_text ul li .pic {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  float: left;
}

#details .con .ping .ping_text ul li .pic img {
  height: 30px;
  width: 30px;
}

#details .con .ping .ping_text ul li .list_text {
  float: left;
  margin-left: .26667rem;
  width: 7.94667rem;
  display: flex;
  flex-direction: column;
}

#details .con .ping .ping_text ul li .list_text .name {
  line-height: .8rem;
  font-size: .37333rem;
  display: block;
  color: #427785;
}

#details .con .ping .ping_text ul li .list_text .list_center {
  color: #333;
  font-size: .37333rem;
  word-spacing: 1px;
  line-height: .64rem;
  text-align: justify;
  max-height: 1.92rem;
  margin-top: .08rem;
  margin-bottom: .08rem;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#details .con .ping .ping_text ul li .list_bottom {
  color: #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#details .con .ping .ping_text ul li .list_bottom .huifu {
  display: flex;
  align-items: center;
}

#details .con .ping .ping_bottom {
  height: 1.232877rem;
  color: #ee5048;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14.4px;
}
