.gotop {
    position: fixed;
    bottom: 1.369863rem;
    right: .547945rem;
    height: .821918rem;
    width: .821918rem;
    font-size: .821918rem !important;
    border-radius: 50% 50%;
    border: 1px solid #ccc;
    color: #999;
    z-index: 2000;
    background: #fff;
    opacity: 0.9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-huidaodingbu{
    height: .821918rem;
    width: .821918rem;
}

