#List {
  position: relative;
}

#List .nav {
  margin-top: 1.232877rem;
  background: #fff;
  padding: .48rem;
  font-size: .34667rem;
  border-bottom: .013333rem solid #e5e5df;
  overflow: hidden;
  height: 4.547945rem;
  box-sizing: border-box;
}

#List .nav .nav_list {
  height: 25%;
  display: flex;
}

#List .nav .nav_list .nav_title {
  color: #666;
  font-size: 13px;
  margin-right: .133333rem;
}

#List .nav .nav_list .right {
  width: 90%;
  height: 100%;
}

#List .nav .nav_list .right ul {
  display: flex;
  color: #BBB;
  font-size: .186667rem;
  width: 100%;
}

#List .nav .nav_list .right ul li {
  width: 1.671233rem;
  text-align: center;
  margin-left: .136986rem;
  display: block;
  font-size: .34667rem;
  height: .64rem;
  line-height: .64rem;
  border-radius: .8rem;
  border: 1px solid #BBB !important;
}

#List .nav .nav_list .right ul .active {
  border: 1px solid #ee5048 !important;
}
