* {
  padding: 0;
  margin: 0;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-bottom: 0 !important;
// }

ul,
ol,
dl li {
  margin-bottom: 0 !important;
  list-style: none;
}

.mt {

  height: 21.946667rem;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;

  header {
    background: #fff;
    width: 100%;
    display: flex;
    height: 1.173333rem;

    img {
      flex: 3;
      width: 2.586667rem;
      height: .533333rem;
      line-height: 1.173333rem;
      margin-top: .346667rem;
      margin-left: .213333rem;
    }

    ul {
      box-sizing: border-box;
      padding-left: .533333rem;
      flex: 6;
      display: flex;

      li {
        width: 35%;
        flex: 1;
        line-height: 1.173333rem;
        font-size: .4rem;
        display: block;
        margin-left: .533333rem;

      }


    }


  }

  p {
    flex: 3;
    display: flex;

    i {
      float: left;
      flex: 1;
      line-height: 1.173333rem;
      width: 50%;
      margin-top: .133333rem;
    }

    i:nth-child(1) {
      padding-left: .266667rem;
      box-sizing: border-box;
    }

    svg {
      color: #ee5048 !important;
      width: .48rem;
      height: .48rem;
    }
  }

  main {
    overflow-y: auto;
    flex: 1;
    height: 19.36rem;

    .banner1 {


      img {
        width: 100%;
        height: 3.813333rem;
      }
    }

    .content1 {
      background: #fff;
      width: 100%;
      height: 2.746667rem;
      padding: .44rem 0;
      display: flex;

      li {

        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 1.333333rem;
          height: 1.333333rem;
        }

        p {
          display: block;
          font-size: .37333rem;
          color: #999;
        }

      }
    }

    .con1 {
      height: 6.426667rem;
      width: 100%;
      background: #fff;
      margin: .293333rem 0;

      h3 {
        padding: .32rem .4rem;
        font-size: .32rem;
        line-height: .45333rem;
        color: #333;

        em {
          color: #ee5048;
          font-weight: 900;
          margin-right: .266667rem;
        }
      }
    }

    .con2 {
      width: 100%;

      .con2-1 {
        display: flex;
        height: 4.734133rem;
        justify-content: space-between;
        padding: 0 .506667rem .426667rem .506667rem;

        li {
          flex: 1;
          width: 2.773333rem;
          height: 4.72rem;

          img {
            width: 2.773333rem;
            height: 3.893333rem;
          }

          p {
            font-size: .32rem;
            color: #333;
            text-align: left;
            line-height: .45333rem;
            margin: .232rem 0 .144rem 0;
          }
        }
      }
    }

    .con2 {
      background: #fff;

      h3 {
        padding: .32rem .4rem;
        font-size: .32rem;
        line-height: .45333rem;
        color: #333;

        em {
          color: #ee5048;
          font-weight: 900;
          margin-right: .266667rem;
        }
      }

      dl {
        height: 4.026667rem;
        border-bottom: 1px solid #e5e5df;
        padding-bottom: .4rem;
        margin: 0 .525333rem .437333rem .525333rem;

        dt {
          width: 30%;

          float: left;

          img {
            width: 85px;
            height: 120px;
            display: block;

          }



        }

        dd {
          width: 70%;
          float: left;

          h4 {

            font-size: .4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            line-height: .42667rem;
            white-space: nowrap;
            margin: .10667rem 0 .30667rem;
          }

          b {
            margin-bottom: .13333rem;
            display: block;
            font-weight: 400;
            line-height: .58667rem;
            height: 1.12rem;
            color: #999;
            word-break: break-all;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          p {
            position: relative;
            height: .58667rem;
            line-height: .58667rem;
            font-size: .37333rem;
            color: #bbb;
            margin-top: .666667rem;

            img {
              width: .4rem;
              height: .4rem;
              float: left;
              margin: 5px 10px 0 0;
            }

            span {
              float: left;

              height: .4rem;
              border-radius: 50%;
              vertical-align: -.05333rem;
              margin-right: .13333rem;
              border: 1px solid #e5e5e5;
            }

            i {
              right: 0;
              top: 0;
              position: absolute;

              height: .253333rem;
              float: right;

              color: #bbb;
              font-size: .32rem;
              text-align: right;
              margin-left: .333333rem;

              margin-left: .13333rem;
              line-height: normal;
              // padding: .02667rem .05333rem 0;
            }
          }
        }
      }


      .more {
        display: block;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: .4rem;
        text-align: center;
        color: #ee5048;

        background: #fff;
        overflow: hidden;

      }

      .conNext {
        h3 {
          padding: .32rem .4rem;
          font-size: .32rem;
          line-height: .45333rem;
          color: #333;

          em {
            color: #ee5048;
            font-weight: 900;
            margin-right: .266667rem;
          }
        }

      }


    }
  }

}

footer {
  width: 100%;
  height: 1.306667rem;
  display: fixed;
  bottom: 0;
  left: 0;

  .bottom {}



}