.othername {
  text-align: center;
  color: #999898;
  margin-bottom: .3125rem;
}

.othercompany {
  display: flex;
}

.othercompany li {
  width: 33%;
  text-align: center;
  font-size: .9625rem;
}

.othercompany li:nth-child(1) {
  color: #eea620;
}

.othercompany li:nth-child(2) {
  color: #f52121;
}

.othercompany li:nth-child(3) {
  color: #4b4bfa;
}

.agreement {
  text-align: center;
  color: #a39797;
}

.agreement span {
  color: black;
}
